EXPO_PUBLIC_SUPABASE_URL=https://ingvijnueqcnjavwijjh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluZ3Zpam51ZXFjbmphdndpampoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4Mzk3NjksImV4cCI6MjA5MzQxNTc2OX0.8omafwqgyr3yxaiT7xXNrPIBaZTipjjmHI280LzxZVs
